@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', arial;
    color: var(--primary-color);
}

:root {
    --primary-color: #052033;
    --secondary-color: #19a2ff;
    --box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.226);
    --fade-white-color: #F8FBFD;
}

body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height:100vh; */
    margin-top: 10px;
}
#login-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#logo{
    width: 100px;
    margin-bottom: 20px;
    /* margin-top: 10px; */
}

h2 {
    margin-bottom: 30px;
}

form {
    background-color: whitesmoke;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 20px;
    border-radius: 10px;
}

.form-cont h2 {
    margin-bottom: 30px;
    text-align: center;
}

form input {
    width: 100%;
    border-radius: 3px;
    padding:8px 5px;
    background-color: transparent;
    border: 1px solid;
    outline: none;

}

.name {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name .name-holder{
width: 47%;}

.name-holder {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 5px;
    font-size: 0.8rem;
    transition: 0.7s;
}

input:hover~label, 
input:hover~label {
    top: -25px;
    font-size: 0.7rem;
}

input:focus~label, 
input:valid~label {
    top: -25px;
    font-size: 0.7rem;
}

button{
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
}

.fa-arrow-up-right-from-square{
    color: white;
    padding: 10px;
}

.keep-me label,.term label{
    position: unset;
}

input[type='checkbox']{
    width: unset;
}

.keep-me,.term{
    display: flex;
    align-items: center;
}


.forget-cont{
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 500;
}

@media (max-width:650px) {
    body{
        padding: 3%;
        /* height: 100vh; */
    }
}