@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', arial;
}

:root {
    --primary-color: #052033;
    --secondary-color: #1BC6F5;
    --box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.226);
    --fade-white-color: #e5e9eb;
}

body{
    background-color: var(--fade-white-color);
    height: 100vh;
}

.body-cont{
    display: flex;
}


/* ....side br */
.side-bar{
    height: 100vh;
    width: 300px;
    color: white;
    background-color: var(--primary-color);
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
}

.welcome-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome-cont .fa-arrow-right-arrow-left{
    font-size: 1.5rem;
    cursor: pointer;
}

.user-first-letter-cont{
    width: 100%;
    height: 100px;
    display: flex;
    border-color: white;
    justify-content: space-between;
    align-items: center;
}

.f_name{
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    color: white;
}

.user-letter-cont{
    width: 100%;
    height: 80px;
    background-color: var(--fade-white-color);
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 0 10px;
    margin: 50px 0;
}
.side-bar ul{
    list-style: none;
    line-height: 3;
    font-weight: 400;
}

.side-bar ul i{
  
}

.side-bar ul a{
text-decoration: none;
    color: unset;
}

/* ......main body */

.main-body{
    height: 100vh;
    background-color: var(--fade-white-color);
}