@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', arial;
}

:root {
    --primary-color: #052033;
    --secondary-color: #1BC6F5;
    --box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.226);
    --fade-white-color: #e5e9eb;
}

body {
    background-color: var(--fade-white-color);
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.side-bar {
    width: 70px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--primary-color);
    color: #fff;
    position: relative;
    padding: 20px 15px;
    transition: all 0.5s ease-in-out;
}
.side-bar.active:hover{
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.toggle {
    position: absolute;
    right: -5px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    z-index: 100;
}

.side-bar.active {
    width: 250px;
    align-items: center;
    justify-content: space-between;
}


.side-bar-log {
    width: 90px;
    border-radius: 8px;
    padding: 8px;
    background: #fff;
    justify-self: center;
    margin-bottom: 20px;
    visibility: hidden;
}


.side-bar-log img {
    width: 100%;

}

.side-bar.active {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-bar.active .side-bar-log {
    visibility: visible;
}

.nav-links span { 
    opacity: 0;
    font-weight: 500;
}

.nav-links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
}


.side-bar.active .nav-links span {
    opacity: 1;
    
}
.side-bar.active .nav-links .fa-solid{
    margin-right: 0.5rem;
}
.side-bar.active .nav-links div{
    line-height: 3em;
}
.side-bar.active .nav-links div:hover{
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.side-bar.side-bar.active .nav-links i {
    line-height: 3;
}

.Dashboard-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

main{
    width: 100%;
    padding: 20px 40px;
    
    
}
.profile-cont{
    display: flex;
    align-items: center;
    gap: 20px;
}
.prof-bg{
    background-color: #ffffff;
    border-radius: 50%;
    padding: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}


.balance-cont{
    max-width: 70%;
    height: 200px;
    background: var(--primary-color);
    border-radius: 10px;
    margin: 30px auto;
    color: #ffffff;
    padding: 20px;
    line-height: 2;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:800px) {
  .balance-cont{
    max-width: 100%;
  }
  .money-cont .money,
.money-cont .fa-wallet{
    font-size: 1.5rem ;
}  
}

@media (max-width:400px){
    .balance-cont{
    max-width: fit-content;
    }
      .money-cont .money,
.money-cont .fa-wallet{
    font-size: 1.1rem ;
} 
}

.money-cont {
    display: flex;
    align-items: center;
    gap: 10px;
}
.money-cont2 {
    display: flex;
    gap: 20px;
}
.money-cont2 a {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: #ffffff;
}

.money-cont .money,
.money-cont .fa-wallet{
    font-size: 2rem ;
}
.package-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}