@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', arial;
}

:root {
    --primary-color: #052033;
    --secondary-color: #1BC6F5;
    --box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.226);
    --fade-white-color: #e5e9eb;
}

body {
    background-color: var(--fade-white-color);
    height: 100vh;
}

.side-bar {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--primary-color);
    color: #fff;
    position: relative;
    padding: 10px 15px;
}

.toggle {
    position: absolute;
    right: -10px;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

.side-bar.active {
    width: 200px;
}


.side-bar-log {
    width: 70px;
    border-radius: 8px;
    padding: 8px;
    background: #fff;
    display: none;
}


.side-bar-log img {
    width: 100%;
}

.side-bar .active{
    display: block;
}